[user]
  name = Denis Laliberte
	email = denis.laliberte@gmail.com
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  editor = vim
	filemode = false
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[git-up "fetch"]
  all = true
[diff]
  tool = kdiff3
	guitool = kdiff3
[merge]
  tool = kdiff3
	tool = kdiff3
[difftool]
  prompt = false
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[push]
  default = matching
[mergetool "kdiff3"]
  path = /usr/bin/kdiff3
  trustExitCode = false
	path = /usr/bin/kdiff3
	trustExitCode = false
[difftool "kdiff3"]
  path = /usr/bin/kdiff3
  trustExitCode = false
	path = /usr/bin/kdiff3
	trustExitCode = false
